<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<config>
		<add key="dependencyVersion" value="Highest" />
		<add key="globalPackagesFolder" value="%IFSBOHOMENG%\packages" />
	</config>
  <packageSources>
    <!-- <add key="Local" value="https://localhost:5001/v3/index.json" /> -->
    <add key="Nuget" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
</configuration>